SWTOR Guide/DerivedData/T.O.R. Codex/Build/Intermediates/PrecompiledHeaders/T.O.R. Codex-Prefix-byxrdxndcvnoexbjtnqpxpeufqax/
build-state.dat
build-state~.dat
AZLoginViewController.d
03BE1FD2-9576-4A4F-B417-57AB340629CE.xcactivitylog
ADD636ED-99BB-4ED1-A9A4-C22C2337F5F6.xcactivitylog